#### Set styling for plotting

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import matplotlib.ticker as ticker
import seaborn as sns
sns.set_palette('colorblind')
from matplotlib.pyplot import tight_layout
# ##SETTING PARAMS FOR MATPLOTLIB FIGURES
plt.rcParams.update({"figure.figsize": (6, 6),
                 "axes.facecolor": "white",
                 "axes.edgecolor": "black"})
plt.rcParams['axes.prop_cycle'] = plt.cycler(color=sns.color_palette('colorblind'))
##set font size
font = {'family': 'sans-serif',
       'weight': 'normal',
       'size': 14}
plt.rc('font', **font)
# ##PANDAS PLOTTING
pd.plotting.register_matplotlib_converters()

#### Step 1: save environment file

In [2]:
!conda env export > nas_environment.yml

#### Step 2: import modules

In [3]:
import glob
import os
import xml.etree.ElementTree as ET
from datetime import datetime, timezone
from tqdm import tqdm
import codecs
import csv

## INFORMATION

NAS data in excel format containing 
add requested type info here

#### Step 3: import csv files

In [4]:
data_directory_xl = "/mnt/hgfs/shared/project_data/nas/WEATHERED Report CAD 20241217.xlsx"
full_path_xl = os.path.abspath(data_directory_xl)

In [5]:
##import data into pandas
df_nas = pd.read_excel(full_path_xl)

In [7]:
# check the first few rows
print(df_nas.head())

# look at dataframe info
print(df_nas.info())

# check the df shape
print(f"Number of rows: {df_nas.shape[0]}")
print(f"Number of columns: {df_nas.shape[1]}")

   Randomised ID DateCallForPerf Time of Day         PickupTown EIRCODE ID  \
0    54959224086      2016-01-01       Night            DUNGLOE        NaN
1    54959224146      2016-01-01       Night  BEAUMONT DUBLIN 9        NaN
2    54959224172      2016-01-01       Night           DROGHEDA        NaN
3    54959224182      2016-01-01       Night        BORRISOKANE        NaN
4    54959224201      2016-01-01       Night            WEXFORD        NaN

  DespatchCode                                DespCodeDescription  \
0       17B01P  Falls - Possibly Dangerous body Area - Public ...
1       17B01G  Falls - Possibly Dangerous body Area - On the ...
2        17B01             Falls - Possibly Dangerous body Area -
3       17B01P  Falls - Possibly Dangerous body Area - Public ...
4       17B01G  Falls - Possibly Dangerous body Area - On the ...

              Hospital Attended
0  LETTERKENNY GENERAL HOSPITAL
1             BEAUMONT HOSPITAL
2     LOURDES HOSPITAL DROGHEDA
3  PORTIUNCULA GENERAL HOSPITAL
4                           NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155206 entries, 0 to 155205
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Randomised ID        155206 non-null  int64
 1   DateCallForPerf      155206 non-null  datetime64[ns]
 2   Time of Day          155206 non-null  object
 3   PickupTown           155193 non-null  object
 4   EIRCODE ID           142200 non-null  object
 5   DespatchCode         155206 non-null  object
 6   DespCodeDescription  155206 non-null  object
 7   Hospital Attended    130494 non-null  object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 9.5+ MB
None
Number of rows: 155206
Number of columns: 8

In [11]:
# check the first few rows
print(df_xl.head())

# look at dataframe info
print(df_xl.info())

# check the df shape
print(f"Number of rows: {df_xl.shape[0]}")
print(f"Number of columns: {df_xl.shape[1]}")

#print(f"Start date: {df_xl['Issue Time'].min()}")
#print(f"End date: {df_xl['Issue Time'].max()}")

            Unnamed: 0 Unnamed: 1  \
0                Total        NaN
1  2023-01-01 00:00:00    Fog/Ice
2                  NaN        NaN
3                  NaN        NaN
4                  NaN        NaN

                                      unprotect cafo Unnamed: 3 Unnamed: 4  \
0                                                NaN     Yellow     Orange
1                                     Level: Yellow         244         50
2                                   Type: Fog / Ice           0          0
3  Message: Icy stretches along with patches of f...          0          0
4                          Affected Regions: ireland          0          0

  Unnamed: 5 Unnamed: 6  Unnamed: 7 Unnamed: 8  Unnamed: 9  ... Unnamed: 33  \
0        Red      Named         NaN    Ireland         NaN  ...          MH
1        6.5          0         NaN          0         NaN  ...           0
2          0          0         NaN          0         NaN  ...           0
3          0          0         NaN          0         NaN  ...           0
4          0          0         NaN          1         NaN  ...           0

  Unnamed: 34 Unnamed: 35 Unnamed: 36 Unnamed: 37 Unnamed: 38 Ulster  \
0          OY          WH          WX          WW         NaN    All
1           0           0           0           0         NaN      0
2           0           0           0           0         NaN      0
3           0           0           0           0         NaN      0
4           0           0           0           0         NaN      0

   Unnamed: 40 Unnamed: 41 Unnamed: 42
0           DL          CN          MN
1            0           0           0
2            0           0           0
3            0           0           0
4            0           0           0

[5 rows x 43 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4255 entries, 0 to 4254
Data columns (total 43 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      303 non-null    object
 1   Unnamed: 1      302 non-null    object
 2   unprotect cafo  2846 non-null   object
 3   Unnamed: 3      4245 non-null   object
 4   Unnamed: 4      4247 non-null   object
 5   Unnamed: 5      4245 non-null   object
 6   Unnamed: 6      2756 non-null   object
 7   Unnamed: 7      0 non-null      float64
 8   Unnamed: 8      3043 non-null   object
 9   Unnamed: 9      0 non-null      float64
 10  Munster         4247 non-null   object
 11  Unnamed: 11     4247 non-null   object
 12  Unnamed: 12     4247 non-null   object
 13  Unnamed: 13     4246 non-null   object
 14  Unnamed: 14     4247 non-null   object
 15  Unnamed: 15     4247 non-null   object
 16  Unnamed: 16     4247 non-null   object
 17  Unnamed: 17     1 non-null      float64
 18  Connacht        4247 non-null   object
 19  Unnamed: 19     4247 non-null   object
 20  Unnamed: 20     4247 non-null   object
 21  Unnamed: 21     4247 non-null   object
 22  Unnamed: 22     4247 non-null   object
 23  Unnamed: 23     4247 non-null   object
 24  Unnamed: 24     1 non-null      float64
 25  Leinster        4247 non-null   object
 26  Unnamed: 26     4247 non-null   object
 27  Unnamed: 27     4247 non-null   object
 28  Unnamed: 28     4247 non-null   object
 29  Unnamed: 29     4247 non-null   object
 30  Unnamed: 30     4247 non-null   object
 31  Unnamed: 31     4247 non-null   object
 32  Unnamed: 32     4247 non-null   object
 33  Unnamed: 33     4247 non-null   object
 34  Unnamed: 34     4247 non-null   object
 35  Unnamed: 35     4247 non-null   object
 36  Unnamed: 36     4247 non-null   object
 37  Unnamed: 37     4247 non-null   object
 38  Unnamed: 38     1 non-null      float64
 39  Ulster          4247 non-null   object
 40  Unnamed: 40     4247 non-null   object
 41  Unnamed: 41     4247 non-null   object
 42  Unnamed: 42     4247 non-null   object
dtypes: float64(5), object(38)
memory usage: 1.4+ MB
None
Number of rows: 4255
Number of columns: 43