#### Set styling for plotting

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import matplotlib.ticker as ticker
import seaborn as sns
sns.set_palette('colorblind')
from matplotlib.pyplot import tight_layout
# ##SETTING PARAMS FOR MATPLOTLIB FIGURES
plt.rcParams.update({"figure.figsize": (6, 6),
                 "axes.facecolor": "white",
                 "axes.edgecolor": "black"})
plt.rcParams['axes.prop_cycle'] = plt.cycler(color=sns.color_palette('colorblind'))
##set font size
font = {'family': 'sans-serif',
       'weight': 'normal',
       'size': 14}
plt.rc('font', **font)
# ##PANDAS PLOTTING
pd.plotting.register_matplotlib_converters()

#### Step 1: save environment file

In [2]:
!conda env export > combined_met_environment.yml

#### Step 2: import modules

In [3]:
import glob
import os
import xml.etree.ElementTree as ET
from datetime import datetime, timezone
from tqdm import tqdm
import codecs
import csv

## INFORMATION

##load the 3 processed .csv fiels for combination in a single complete dataset

#### Step 3: import csv files

In [4]:
data_directory_xml = "/home/paulharford/college/project/project_data/met_eireann/xml_warnings_2018_2023_08.csv"
data_directory_ods = "/home/paulharford/college/project/project_data/met_eireann/ods_warnings_2017_2020.csv"
data_directory_xl = "/home/paulharford/college/project/project_data/met_eireann/xl_warnings_2023.csv"
full_path_xml = os.path.abspath(data_directory_xml)
full_path_ods = os.path.abspath(data_directory_ods)
full_path_xl = os.path.abspath(data_directory_xl)

In [5]:
# Read the 2023 excel file
df_xml = pd.read_csv(full_path_xml)
df_ods = pd.read_csv(full_path_ods)
df_xl = pd.read_csv(full_path_xl)

In [6]:
# First, ensure our datetime conversions are correct
df_xml['Issue Time'] = pd.to_datetime(df_xml['Issue Time'])
df_ods['Issue Time'] = pd.to_datetime(df_ods['Issue Time'])

# Get counts for specific years (2018-2020) for both datasets
xml_year_counts = df_xml['Issue Time'].dt.year.value_counts().sort_index()
ods_year_counts = df_ods['Issue Time'].dt.year.value_counts().sort_index()

# Create a DataFrame to display the years side by side
comparison_df = pd.DataFrame({
    'XML Dataset': xml_year_counts,
    'ODS Dataset': ods_year_counts
})

# Filter 2018-2020
comparison_df = comparison_df.loc[2018:2020]

# Calculate the difference between datasets
comparison_df['Difference'] = comparison_df['XML Dataset'] - comparison_df['ODS Dataset']

# Display the comparison
print("\nComparison of Events (2018-2020):")
print(comparison_df)

# Optional: Create a percentage difference column to see relative changes
comparison_df['Percentage Difference'] = (
    (comparison_df['XML Dataset'] - comparison_df['ODS Dataset']) / 
    comparison_df['ODS Dataset'] * 100
).round(2)

print("\nWith Percentage Difference:")
print(comparison_df)

Comparison of Events (2018-2020):
            XML Dataset  ODS Dataset  Difference
Issue Time
2018              264.0        249.0        15.0
2019              179.0        187.0        -8.0
2020              274.0        277.0        -3.0

With Percentage Difference:
            XML Dataset  ODS Dataset  Difference  Percentage Difference
Issue Time
2018              264.0        249.0        15.0                   6.02
2019              179.0        187.0        -8.0                  -4.28
2020              274.0        277.0        -3.0                  -1.08

#### Step:6 confirm date/time settings, check date ranges and select appropriate rnages to combine

In [7]:
##make sure datetime is the same in both dataframes
# Ensure datetime columns are consistently UTC
datetime_cols = ['Issue Time', 'Valid From', 'Valid To']
df_ods[datetime_cols] = df_ods[datetime_cols].apply(pd.to_datetime, utc=True)
df_xml[datetime_cols] = df_xml[datetime_cols].apply(pd.to_datetime, utc=True)
df_xl[datetime_cols] = df_xl[datetime_cols].apply(pd.to_datetime, utc=True)

In [8]:
##Check Columns
df_ods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1598 entries, 0 to 1597
Data columns (total 33 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Issue Time       1598 non-null   datetime64[ns, UTC]
 1   Valid From       1598 non-null   datetime64[ns, UTC]
 2   Valid To         1598 non-null   datetime64[ns, UTC]
 3   Warning Colour   1598 non-null   object
 4   Warning Element  1598 non-null   object
 5   WhereToText      1596 non-null   object
 6   Warning Text     1595 non-null   object
 7   Clare            1598 non-null   int64
 8   Cork             1598 non-null   int64
 9   Kerry            1598 non-null   int64
 10  Limerick         1598 non-null   int64
 11  Tipperary        1598 non-null   int64
 12  Waterford        1598 non-null   int64
 13  Carlow           1598 non-null   int64
 14  Dublin           1598 non-null   int64
 15  Kildare          1598 non-null   int64
 16  Kilkenny         1598 non-null   int64
 17  Laois            1598 non-null   int64
 18  Longford         1598 non-null   int64
 19  Louth            1598 non-null   int64
 20  Meath            1598 non-null   int64
 21  Offaly           1598 non-null   int64
 22  Westmeath        1598 non-null   int64
 23  Wexford          1598 non-null   int64
 24  Wicklow          1598 non-null   int64
 25  Cavan            1598 non-null   int64
 26  Donegal          1598 non-null   int64
 27  Monaghan         1598 non-null   int64
 28  Galway           1598 non-null   int64
 29  Leitrim          1598 non-null   int64
 30  Mayo             1598 non-null   int64
 31  Roscommon        1598 non-null   int64
 32  Sligo            1598 non-null   int64
dtypes: datetime64[ns, UTC](3), int64(26), object(4)
memory usage: 412.1+ KB

In [9]:
##where to text column not required
df_ods.drop("WhereToText", axis=1, inplace=True)

In [10]:
df_xml.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2016 entries, 0 to 2015
Data columns (total 33 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Issue Time       2016 non-null   datetime64[ns, UTC]
 1   Valid From       2016 non-null   datetime64[ns, UTC]
 2   Valid To         2016 non-null   datetime64[ns, UTC]
 3   Warning Element  2016 non-null   object
 4   Warning Text     2015 non-null   object
 5   WhereToText      2016 non-null   object
 6   Warning Colour   2016 non-null   object
 7   Carlow           2016 non-null   int64
 8   Cavan            2016 non-null   int64
 9   Clare            2016 non-null   int64
 10  Cork             2016 non-null   int64
 11  Donegal          2016 non-null   int64
 12  Galway           2016 non-null   int64
 13  Kerry            2016 non-null   int64
 14  Kildare          2016 non-null   int64
 15  Kilkenny         2016 non-null   int64
 16  Laois            2016 non-null   int64
 17  Leitrim          2016 non-null   int64
 18  Limerick         2016 non-null   int64
 19  Longford         2016 non-null   int64
 20  Louth            2016 non-null   int64
 21  Mayo             2016 non-null   int64
 22  Meath            2016 non-null   int64
 23  Monaghan         2016 non-null   int64
 24  Offaly           2016 non-null   int64
 25  Roscommon        2016 non-null   int64
 26  Sligo            2016 non-null   int64
 27  Tipperary        2016 non-null   int64
 28  Waterford        2016 non-null   int64
 29  Westmeath        2016 non-null   int64
 30  Wexford          2016 non-null   int64
 31  Wicklow          2016 non-null   int64
 32  Dublin           2016 non-null   int64
dtypes: datetime64[ns, UTC](3), int64(26), object(4)
memory usage: 519.9+ KB

In [11]:
df_xml.drop("WhereToText", axis=1, inplace=True)

In [12]:
df_xl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 36 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Warning Element  299 non-null    object
 1   Carlow           299 non-null    int64
 2   Cavan            299 non-null    int64
 3   Clare            299 non-null    int64
 4   Cork             299 non-null    int64
 5   Donegal          299 non-null    int64
 6   Dublin           299 non-null    int64
 7   Galway           299 non-null    int64
 8   Kerry            299 non-null    int64
 9   Kildare          299 non-null    int64
 10  Kilkenny         299 non-null    int64
 11  Laois            299 non-null    int64
 12  Leitrim          299 non-null    int64
 13  Limerick         299 non-null    int64
 14  Longford         299 non-null    int64
 15  Louth            299 non-null    int64
 16  Mayo             299 non-null    int64
 17  Meath            299 non-null    int64
 18  Monaghan         299 non-null    int64
 19  Offaly           299 non-null    int64
 20  Roscommon        299 non-null    int64
 21  Sligo            299 non-null    int64
 22  Tipperary        299 non-null    int64
 23  Waterford        299 non-null    int64
 24  Westmeath        299 non-null    int64
 25  Wexford          299 non-null    int64
 26  Wicklow          299 non-null    int64
 27  flag_yellow      299 non-null    float64
 28  flag_orange      299 non-null    float64
 29  flag_red         299 non-null    float64
 30  Warning Text     286 non-null    object
 31  Issue Time       286 non-null    datetime64[ns, UTC]
 32  Valid From       287 non-null    datetime64[ns, UTC]
 33  Valid To         285 non-null    datetime64[ns, UTC]
 34  Combined Text    299 non-null    object
 35  Warning Colour   294 non-null    object
dtypes: datetime64[ns, UTC](3), float64(3), int64(26), object(4)
memory usage: 84.2+ KB

In [13]:
# Define the desired order
desired_order = [
    "Issue Time", "Valid From", "Valid To", "Warning Colour", "Warning Element",
    "Warning Text", "Clare", "Cork", "Kerry", "Limerick", 
    "Tipperary", "Waterford", "Carlow", "Dublin", "Kildare", "Kilkenny", 
    "Laois", "Longford", "Louth", "Meath", "Offaly", "Westmeath", "Wexford", 
    "Wicklow", "Cavan", "Donegal", "Monaghan", "Galway", "Leitrim", "Mayo", 
    "Roscommon", "Sligo"
]

# This will select (and order) only those columns; note that if your second DataFrame 
# is missing any of these, a KeyError will be raised.
df_xl_ro = df_xl[desired_order]

In [14]:
df_xl_ro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 32 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Issue Time       286 non-null    datetime64[ns, UTC]
 1   Valid From       287 non-null    datetime64[ns, UTC]
 2   Valid To         285 non-null    datetime64[ns, UTC]
 3   Warning Colour   294 non-null    object
 4   Warning Element  299 non-null    object
 5   Warning Text     286 non-null    object
 6   Clare            299 non-null    int64
 7   Cork             299 non-null    int64
 8   Kerry            299 non-null    int64
 9   Limerick         299 non-null    int64
 10  Tipperary        299 non-null    int64
 11  Waterford        299 non-null    int64
 12  Carlow           299 non-null    int64
 13  Dublin           299 non-null    int64
 14  Kildare          299 non-null    int64
 15  Kilkenny         299 non-null    int64
 16  Laois            299 non-null    int64
 17  Longford         299 non-null    int64
 18  Louth            299 non-null    int64
 19  Meath            299 non-null    int64
 20  Offaly           299 non-null    int64
 21  Westmeath        299 non-null    int64
 22  Wexford          299 non-null    int64
 23  Wicklow          299 non-null    int64
 24  Cavan            299 non-null    int64
 25  Donegal          299 non-null    int64
 26  Monaghan         299 non-null    int64
 27  Galway           299 non-null    int64
 28  Leitrim          299 non-null    int64
 29  Mayo             299 non-null    int64
 30  Roscommon        299 non-null    int64
 31  Sligo            299 non-null    int64
dtypes: datetime64[ns, UTC](3), int64(26), object(3)
memory usage: 74.9+ KB

In [15]:
### date ranges
print("ODS Filtered Date Range:")
print(f"Start date: {df_ods['Issue Time'].min()}")
print(f"End date: {df_ods['Issue Time'].max()}")
print("XML Filtered Date Range:")
print(f"Start date: {df_xml['Issue Time'].min()}")
print(f"End date: {df_xml['Issue Time'].max()}")
print("XML Filtered Date Range:")
print(f"Start date: {df_xl_ro['Issue Time'].min()}")
print(f"End date: {df_xl_ro['Issue Time'].max()}")

ODS Filtered Date Range:
Start date: 2013-02-21 18:00:00+00:00
End date: 2020-12-30 14:00:00+00:00
XML Filtered Date Range:
Start date: 2018-01-01 14:02:14+00:00
End date: 2023-08-04 11:49:46+00:00
XML Filtered Date Range:
Start date: 2023-01-01 13:22:00+00:00
End date: 2023-12-29 19:12:00+00:00

In [16]:
df_ods_filtered = df_ods[
    (df_ods['Issue Time'] >= '2014-01-01') & 
    (df_ods['Issue Time'] <= '2017-12-31 23:59:59')
]
df_xml_filtered = df_xml[
    (df_xml['Issue Time'] >= '2018-01-01') & 
    (df_xml['Issue Time'] <= '2022-12-31 23:59:59')
]
df_xl_filtered = df_xl_ro[
    (df_xl_ro['Issue Time'] >= '2023-01-01') & 
    (df_xl_ro['Issue Time'] <= '2023-12-29 23:59:59')
]

In [17]:
df_combined = pd.concat([df_ods_filtered, df_xml_filtered, df_xl_filtered], ignore_index=True)

In [18]:
print("Combined Filtered Date Range:")
print(f"Start date: {df_combined['Issue Time'].min()}")
print(f"End date: {df_combined['Issue Time'].max()}")

Combined Filtered Date Range:
Start date: 2014-01-02 09:00:00+00:00
End date: 2023-12-29 19:12:00+00:00

In [19]:
# List unique Warning Elements
unique_warning_elements = df_combined['Warning Element'].unique()
print("Unique Warning Elements:")
print(unique_warning_elements)

# Optionally, if you'd like them sorted:
print("Sorted Unique Warning Elements:")
print(sorted(unique_warning_elements))

Unique Warning Elements:
['Wind' 'Snow/Ice' 'Rain' 'Fog (or freezing fog)' 'Thunderstorm'
 'High Temperature' 'Low Temperature/Ice' 'Moderate Hail warning'
 'Moderate Snow-ice warning' 'Moderate Rainfall warning'
 'Moderate Low-Temperature warning' 'Moderate Wind warning'
 'Severe Wind warning' 'Severe Low-Temperature warning'
 'Severe Fog warning' 'Severe Snow-ice warning' 'Extreme Snow-ice warning'
 'Severe Thunder warning' 'Moderate Thunder warning'
 'Moderate High-Temperature warning' 'Severe Rainfall warning'
 'Extreme Wind warning' 'Moderate Fog warning'
 'Moderate Small-Craft warning' 'Yellow Rain' 'Orange Rain' 'Yellow Wind'
 'Yellow fog' 'Orange Wind' 'Yellow Thunderstorm'
 'Yellow High Temperature' 'Orange High Temperature' 'Orange Thunderstorm'
 'Minor Rain Warning' 'Minor Wind Warning'
 'Minor High Temperature Warning' 'Minor Low Temperature/Ice Warning'
 'Minor Fog Warning' 'Minor Snow/Ice Warning' 'Minor Hail Warning'
 'Minor Thunderstorm Warning' 'Red Wind' 'Yellow Low Temperature/Ice'
 'Yellow Snow/Ice' 'Orange Snow/Ice' 'Orange Low Temperature/Ice'
 'Orange Fog' 'Fog / Ice' 'Rainfall' 'Fog' 'wind']
Sorted Unique Warning Elements:
['Extreme Snow-ice warning', 'Extreme Wind warning', 'Fog', 'Fog (or freezing fog)', 'Fog / Ice', 'High Temperature', 'Low Temperature/Ice', 'Minor Fog Warning', 'Minor Hail Warning', 'Minor High Temperature Warning', 'Minor Low Temperature/Ice Warning', 'Minor Rain Warning', 'Minor Snow/Ice Warning', 'Minor Thunderstorm Warning', 'Minor Wind Warning', 'Moderate Fog warning', 'Moderate Hail warning', 'Moderate High-Temperature warning', 'Moderate Low-Temperature warning', 'Moderate Rainfall warning', 'Moderate Small-Craft warning', 'Moderate Snow-ice warning', 'Moderate Thunder warning', 'Moderate Wind warning', 'Orange Fog', 'Orange High Temperature', 'Orange Low Temperature/Ice', 'Orange Rain', 'Orange Snow/Ice', 'Orange Thunderstorm', 'Orange Wind', 'Rain', 'Rainfall', 'Red Wind', 'Severe Fog warning', 'Severe Low-Temperature warning', 'Severe Rainfall warning', 'Severe Snow-ice warning', 'Severe Thunder warning', 'Severe Wind warning', 'Snow/Ice', 'Thunderstorm', 'Wind', 'Yellow High Temperature', 'Yellow Low Temperature/Ice', 'Yellow Rain', 'Yellow Snow/Ice', 'Yellow Thunderstorm', 'Yellow Wind', 'Yellow fog', 'wind']

In [20]:
def normalize_warning(warning_element: str) -> str:
    text = warning_element.lower()

    # Step 1: Determine severity
    if "extreme" in text or "red" in text:
        severity = "Extreme"
    elif "severe" in text or "orange" in text:
        severity = "Severe"
    elif "moderate" in text or "yellow" in text:
        severity = "Moderate"
    elif "minor" in text:
        severity = "Minor"
    else:
        # If nothing found, assume "Moderate" or you can leave it blank
        severity = "Moderate"  

    # Step 2: Determine phenomenon
    if "hail" in text:
        phenomenon = "Hail"
    elif "small-craft" in text or "wind" in text:
        # "small-craft" warnings generally are wind-related
        phenomenon = "Wind"
    elif "fog" in text:
        phenomenon = "Fog"
    elif "snow" in text or "ice" in text:
        # covers "Snow/Ice", "Snow-ice", etc.
        phenomenon = "Snow-ice"
    elif "high temperature" in text or "high-temperature" in text:
        phenomenon = "High-Temperature"
    elif "low temperature" in text or "low-temperature" in text:
        phenomenon = "Low-Temperature"
    elif "thunder" in text:
        phenomenon = "Thunder"
    elif "rain" in text or "rainfall" in text:
        phenomenon = "Rainfall"
    else:
        # fallback if unknown
        phenomenon = "Unknown"

    return f"{severity} {phenomenon} warning"

In [21]:
df_combined["Normalized Warning"] = df_combined["Warning Element"].apply(normalize_warning)

In [27]:
minor_rows = df_combined[df_combined["Warning Element"].str.contains("minor", case=False, na=False)]

# Show the filtered rows
print(minor_rows)

                    Issue Time                Valid From  \
1652 2021-08-10 16:38:53+00:00 2021-08-10 16:38:40+00:00
1653 2021-08-10 16:38:53+00:00 2021-08-10 16:38:40+00:00
1654 2021-08-10 16:38:53+00:00 2021-08-10 16:38:40+00:00
1655 2021-08-10 16:38:53+00:00 2021-08-10 16:38:40+00:00
1656 2021-08-10 16:38:53+00:00 2021-08-10 16:38:40+00:00
1657 2021-08-10 16:38:53+00:00 2021-08-10 16:38:40+00:00
1658 2021-08-10 16:38:53+00:00 2021-08-10 16:38:40+00:00
1659 2021-08-10 16:38:53+00:00 2021-08-10 16:38:40+00:00
1660 2021-08-10 16:38:53+00:00 2021-08-10 15:30:00+00:00
1661 2021-08-10 16:38:53+00:00 2021-08-10 15:30:00+00:00
1662 2021-08-10 16:38:53+00:00 2021-08-10 15:30:00+00:00
1663 2021-08-10 16:38:53+00:00 2021-08-10 15:30:00+00:00
1664 2021-08-10 16:38:53+00:00 2021-08-10 15:30:00+00:00
1665 2021-08-10 16:38:53+00:00 2021-08-10 15:30:00+00:00
1666 2021-08-10 16:38:53+00:00 2021-08-10 15:30:00+00:00

                      Valid To Warning Colour  \
1652 2021-08-13 17:00:00+00:00      notmapped
1653 2021-08-13 17:00:00+00:00      notmapped
1654 2021-08-13 17:00:00+00:00      notmapped
1655 2021-08-13 17:00:00+00:00      notmapped
1656 2021-08-13 17:00:00+00:00      notmapped
1657 2021-08-13 17:00:00+00:00      notmapped
1658 2021-08-13 17:00:00+00:00      notmapped
1659 2021-08-13 17:00:00+00:00      notmapped
1660 2021-08-10 15:30:00+00:00      notmapped
1661 2021-08-10 15:30:00+00:00      notmapped
1662 2021-08-10 15:30:00+00:00      notmapped
1663 2021-08-10 15:30:00+00:00      notmapped
1664 2021-08-10 15:30:00+00:00      notmapped
1665 2021-08-10 15:30:00+00:00      notmapped
1666 2021-08-10 15:30:00+00:00      notmapped

                        Warning Element                       Warning Text  \
1652                 Minor Rain Warning                 Minor Rain Warning
1653                 Minor Wind Warning                 Minor Wind Warning
1654     Minor High Temperature Warning     Minor High Temperature Warning
1655  Minor Low Temperature/Ice Warning  Minor Low Temperature/Ice Warning
1656                  Minor Fog Warning                  Minor Fog Warning
1657             Minor Snow/Ice Warning             Minor Snow/Ice Warning
1658                 Minor Hail Warning                 Minor Hail Warning
1659         Minor Thunderstorm Warning         Minor Thunderstorm Warning
1660                 Minor Rain Warning                 Minor Rain Warning
1661                 Minor Wind Warning                 Minor Wind Warning
1662     Minor High Temperature Warning     Minor High Temperature Warning
1663  Minor Low Temperature/Ice Warning  Minor Low Temperature/Ice Warning
1664                  Minor Fog Warning                  Minor Fog Warning
1665                 Minor Hail Warning                 Minor Hail Warning
1666         Minor Thunderstorm Warning         Minor Thunderstorm Warning

      Clare  Cork  Kerry  Limerick  ...  Roscommon  Sligo  \
1652      1     1      1         0  ...          1      1
1653      1     1      1         0  ...          1      1
1654      1     1      1         0  ...          1      1
1655      1     1      1         0  ...          1      1
1656      1     1      1         0  ...          1      1
1657      1     1      1         0  ...          1      1
1658      1     1      1         0  ...          1      1
1659      1     1      1         0  ...          1      1
1660      1     1      1         0  ...          1      1
1661      1     1      1         0  ...          1      1
1662      1     1      1         0  ...          1      1
1663      1     1      1         0  ...          1      1
1664      1     1      1         0  ...          1      1
1665      1     1      1         0  ...          1      1
1666      1     1      1         0  ...          1      1

                  Normalized Warning  HSE Dublin and North East  \
1652          Minor Rainfall warning                          1
1653              Minor Wind warning                          1
1654  Minor High-Temperature warning                          1
1655          Minor Snow-ice warning                          1
1656               Minor Fog warning                          1
1657          Minor Snow-ice warning                          1
1658              Minor Hail warning                          1
1659           Minor Thunder warning                          1
1660          Minor Rainfall warning                          1
1661              Minor Wind warning                          1
1662  Minor High-Temperature warning                          1
1663          Minor Snow-ice warning                          1
1664               Minor Fog warning                          1
1665              Minor Hail warning                          1
1666           Minor Thunder warning                          1

      HSE Dublin and Midlands  HSE Dublin and South East  HSE Mid West  \
1652                        1                          1             1
1653                        1                          1             1
1654                        1                          1             1
1655                        1                          1             1
1656                        1                          1             1
1657                        1                          1             1
1658                        1                          1             1
1659                        1                          1             1
1660                        1                          1             1
1661                        1                          1             1
1662                        1                          1             1
1663                        1                          1             1
1664                        1                          1             1
1665                        1                          1             1
1666                        1                          1             1

      HSE South West  HSE West and North West  Duration_hours
1652               1                        1       72.355556
1653               1                        1       72.355556
1654               1                        1       72.355556
1655               1                        1       72.355556
1656               1                        1       72.355556
1657               1                        1       72.355556
1658               1                        1       72.355556
1659               1                        1       72.355556
1660               1                        1        0.000000
1661               1                        1        0.000000
1662               1                        1        0.000000
1663               1                        1        0.000000
1664               1                        1        0.000000
1665               1                        1        0.000000
1666               1                        1        0.000000

[15 rows x 40 columns]

In [30]:
df_combined = df_combined[~df_combined["Warning Element"].str.contains("minor", case=False, na=False)]

In [31]:
# Create new columns for each HSE region, initialized with 0
hse_regions = {
    'HSE Dublin and North East': ['Cavan', 'Monaghan', 'Louth', 'Meath', 'Dublin'],
    'HSE Dublin and Midlands': ['Kildare', 'Wicklow', 'Laois', 'Offaly', 'Longford', 'Westmeath', 'Dublin'],
    'HSE Dublin and South East': ['Carlow', 'Kilkenny', 'Tipperary', 'Waterford', 'Wexford', 'Wicklow', 'Dublin'],
    'HSE Mid West': ['Clare', 'Limerick', 'Tipperary'],
    'HSE South West': ['Cork', 'Kerry'],
    'HSE West and North West': ['Donegal', 'Sligo', 'Leitrim', 'Mayo', 'Galway', 'Roscommon']
}

# Initialize new columns with 0
for region in hse_regions.keys():
    df_combined[region] = 0

# For each region, set to 1 if any of its counties has a 1
for region, counties in hse_regions.items():
    df_combined[region] = (df_combined[counties].sum(axis=1) > 0).astype(int)

# Verify the results
print("Sample of rows with HSE region columns:")
print(df_combined[list(hse_regions.keys())].head())

# Check distribution of regional warnings
print("\nNumber of warnings per HSE region:")
for region in hse_regions.keys():
    print(f"{region}: {df_combined[region].sum()}")

Sample of rows with HSE region columns:
   HSE Dublin and North East  HSE Dublin and Midlands  \
0                          0                        0
1                          1                        1
2                          1                        1
3                          1                        1
4                          1                        1

   HSE Dublin and South East  HSE Mid West  HSE South West  \
0                          0             1               1
1                          1             1               0
2                          1             1               1
3                          1             1               1
4                          1             1               1

   HSE West and North West
0                        1
1                        0
2                        1
3                        1
4                        1

Number of warnings per HSE region:
HSE Dublin and North East: 1159
HSE Dublin and Midlands: 1271
HSE Dublin and South East: 1309
HSE Mid West: 1216
HSE South West: 1453
HSE West and North West: 1698

In [32]:
##add length of event feature
# Ensure the 'Valid From' and 'Valid To' columns are in datetime format
df_combined['Valid From'] = pd.to_datetime(df_combined['Valid From'])
df_combined['Valid To'] = pd.to_datetime(df_combined['Valid To'])

# Calculate the duration in hours and create a new column
df_combined['Duration_hours'] = (df_combined['Valid To'] - df_combined['Valid From']).dt.total_seconds() / 3600

# Check the first few rows to verify the new column
print(df_combined[['Valid From', 'Valid To', 'Duration_hours']].head())

                 Valid From                  Valid To  Duration_hours
0 2014-01-02 17:00:00+00:00 2014-01-03 14:00:00+00:00            21.0
1 2014-01-02 17:00:00+00:00 2014-01-03 14:00:00+00:00            21.0
2 2014-01-03 14:00:00+00:00 2014-01-03 19:00:00+00:00             5.0
3 2014-01-04 03:00:00+00:00 2014-01-04 14:00:00+00:00            11.0
4 2014-01-05 08:00:00+00:00 2014-01-05 20:00:00+00:00            12.0

In [33]:
df_combined.to_csv('/home/paulharford/college/project/project_data/processed/WEATHERED_warnings_2014-2023_cleaned.csv', index=False)