#### Set styling for plotting

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import matplotlib.ticker as ticker
import seaborn as sns
sns.set_palette('colorblind')
from matplotlib.pyplot import tight_layout
# ##SETTING PARAMS FOR MATPLOTLIB FIGURES
plt.rcParams.update({"figure.figsize": (6, 6),
                 "axes.facecolor": "white",
                 "axes.edgecolor": "black"})
plt.rcParams['axes.prop_cycle'] = plt.cycler(color=sns.color_palette('colorblind'))
##set font size
font = {'family': 'sans-serif',
       'weight': 'normal',
       'size': 14}
plt.rc('font', **font)
# ##PANDAS PLOTTING
pd.plotting.register_matplotlib_converters()

#### Step 1: save environment file

In [2]:
!conda env export > combined_met_environment.yml

#### Step 2: import modules

In [3]:
import glob
import os
import xml.etree.ElementTree as ET
from datetime import datetime, timezone
from tqdm import tqdm
import codecs
import csv

## INFORMATION

## ODS - Met Eirean old system (manual) for recording Adverse weather
Start date: 2012-04-25 12:00:00
End date: 2021-02-17 09:00:00
only 1654 events in totat which seems low compared to the new rss xml system even with Advisories removed
will use data from 2013 to when the new system starts in 2018 

## XLSX 
some of 2023 was missing from the xml style data so Met Eireann sent on the full 2023 in this excel data format

#### Step 3: import csv files

In [6]:
data_directory_xml = "/mnt/hgfs/shared/weather_warnings/archive_warnings/archive"
data_directory_ods = "/mnt/hgfs/shared/project_data/met_eireann/Archived_Wx_Warnings_25April2012_17February2021.ods"
data_directory_xl = "/mnt/hgfs/shared/project_data/met_eireann/National warnings from pdfs_2023.xlsx"
full_path_xml = os.path.abspath(data_directory_xml)
full_path_ods = os.path.abspath(data_directory_ods)
full_path_xl = os.path.abspath(data_directory_xl)

In [8]:
# Read the .ods file
df_ods = pd.read_excel(full_path_ods, engine='odf', parse_dates=['Issue Time', 'Valid From', 'Valid To'])
# Read the 2023 excel file
df_xl = pd.read_excel(full_path_xl)

In [9]:
# check the first few rows
print(df_ods.head())

# look at dataframe info
print(df_ods.info())

# check the df shape
print(f"Number of rows: {df_ods.shape[0]}")
print(f"Number of columns: {df_ods.shape[1]}")

print("ODS Filtered Date Range:")
print(f"Start date: {df_ods['Issue Time'].min()}")
print(f"End date: {df_ods['Issue Time'].max()}")

           Issue Time          Valid From            Valid To Warning Colour  \
0 2012-04-25 12:00:00 2012-04-25 12:00:00 2012-04-26 12:00:00         Yellow
1 2012-06-01 21:00:00 2012-06-02 12:00:00 2012-06-03 21:00:00         Yellow
2 2012-06-02 14:00:00 2012-06-02 14:00:00 2012-06-03 12:00:00         Orange
3 2012-06-08 10:00:00 2012-06-08 10:00:00 2012-06-08 23:59:00         Yellow
4 2012-06-14 20:00:00 2012-06-14 20:00:00 2012-06-16 12:00:00         Yellow

  Warning Element                                        WhereToText  \
0            Rain                               Munster and Leinster
1            Rain                     Munster, Connacht and Leinster
2            Rain                               Munster and Leinster
3            Rain                              Connacht and Leinster
4            Rain  Munster, Leinster, Connacht, Donegal, Monaghan...

                                        Warning Text  Munster  Clare   Cork  \
0  Heavy rain moving into Southern coastal counti...     True   True   True
1  Between 25 and 65 mm of rain possible, (heavie...     True   True   True
2  Between 25mm & 65mm of rain expected over Lein...     True   True   True
3  Further persistent and sometimes heavy rain to...    False  False  False
4  Further spells of rain, persistant and heavy a...     True   True   True

   ...  Ulster  Cavan  Donegal  Monaghan  Connacht  Galway  Leitrim   Mayo  \
0  ...   False  False    False     False     False   False    False  False
1  ...   False  False    False     False      True    True     True   True
2  ...   False  False    False     False     False   False    False  False
3  ...   False  False    False     False      True    True     True   True
4  ...    True   True     True      True      True    True     True   True

   Roscommon  Sligo
0      False  False
1       True   True
2      False  False
3       True   True
4       True   True

[5 rows x 38 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1654 entries, 0 to 1653
Data columns (total 38 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Issue Time       1654 non-null   datetime64[ns]
 1   Valid From       1654 non-null   datetime64[ns]
 2   Valid To         1654 non-null   datetime64[ns]
 3   Warning Colour   1654 non-null   object
 4   Warning Element  1654 non-null   object
 5   WhereToText      1651 non-null   object
 6   Warning Text     1651 non-null   object
 7   Munster          1654 non-null   bool
 8   Clare            1654 non-null   bool
 9   Cork             1654 non-null   bool
 10  Kerry            1654 non-null   bool
 11  Limerick         1654 non-null   bool
 12  Tipperary        1654 non-null   bool
 13  Tipperary SR     1654 non-null   bool
 14  Waterford        1654 non-null   bool
 15  Leinster         1654 non-null   bool
 16  Carlow           1654 non-null   bool
 17  Dublin           1654 non-null   bool
 18  Kildare          1654 non-null   bool
 19  Kilkenny         1654 non-null   bool
 20  Laois            1654 non-null   bool
 21  Longford         1654 non-null   bool
 22  Louth            1654 non-null   bool
 23  Meath            1654 non-null   bool
 24  Offaly           1654 non-null   bool
 25  Westmeath        1654 non-null   bool
 26  Wexford          1654 non-null   bool
 27  Wicklow          1654 non-null   bool
 28  Ulster           1654 non-null   bool
 29  Cavan            1654 non-null   bool
 30  Donegal          1654 non-null   bool
 31  Monaghan         1654 non-null   bool
 32  Connacht         1654 non-null   bool
 33  Galway           1654 non-null   bool
 34  Leitrim          1654 non-null   bool
 35  Mayo             1654 non-null   bool
 36  Roscommon        1654 non-null   bool
 37  Sligo            1654 non-null   bool
dtypes: bool(31), datetime64[ns](3), object(4)
memory usage: 140.7+ KB
None
Number of rows: 1654
Number of columns: 38
ODS Filtered Date Range:
Start date: 2012-04-25 12:00:00
End date: 2021-02-17 09:00:00

In [11]:
# check the first few rows
print(df_xl.head())

# look at dataframe info
print(df_xl.info())

# check the df shape
print(f"Number of rows: {df_xl.shape[0]}")
print(f"Number of columns: {df_xl.shape[1]}")

#print("ODS Filtered Date Range:")
#print(f"Start date: {df_xl['Issue Time'].min()}")
#print(f"End date: {df_xl['Issue Time'].max()}")

            Unnamed: 0 Unnamed: 1  \
0                Total        NaN
1  2023-01-01 00:00:00    Fog/Ice
2                  NaN        NaN
3                  NaN        NaN
4                  NaN        NaN

                                      unprotect cafo Unnamed: 3 Unnamed: 4  \
0                                                NaN     Yellow     Orange
1                                     Level: Yellow         244         50
2                                   Type: Fog / Ice           0          0
3  Message: Icy stretches along with patches of f...          0          0
4                          Affected Regions: ireland          0          0

  Unnamed: 5 Unnamed: 6  Unnamed: 7 Unnamed: 8  Unnamed: 9  ... Unnamed: 33  \
0        Red      Named         NaN    Ireland         NaN  ...          MH
1        6.5          0         NaN          0         NaN  ...           0
2          0          0         NaN          0         NaN  ...           0
3          0          0         NaN          0         NaN  ...           0
4          0          0         NaN          1         NaN  ...           0

  Unnamed: 34 Unnamed: 35 Unnamed: 36 Unnamed: 37 Unnamed: 38 Ulster  \
0          OY          WH          WX          WW         NaN    All
1           0           0           0           0         NaN      0
2           0           0           0           0         NaN      0
3           0           0           0           0         NaN      0
4           0           0           0           0         NaN      0

   Unnamed: 40 Unnamed: 41 Unnamed: 42
0           DL          CN          MN
1            0           0           0
2            0           0           0
3            0           0           0
4            0           0           0

[5 rows x 43 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4255 entries, 0 to 4254
Data columns (total 43 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      303 non-null    object
 1   Unnamed: 1      302 non-null    object
 2   unprotect cafo  2846 non-null   object
 3   Unnamed: 3      4245 non-null   object
 4   Unnamed: 4      4247 non-null   object
 5   Unnamed: 5      4245 non-null   object
 6   Unnamed: 6      2756 non-null   object
 7   Unnamed: 7      0 non-null      float64
 8   Unnamed: 8      3043 non-null   object
 9   Unnamed: 9      0 non-null      float64
 10  Munster         4247 non-null   object
 11  Unnamed: 11     4247 non-null   object
 12  Unnamed: 12     4247 non-null   object
 13  Unnamed: 13     4246 non-null   object
 14  Unnamed: 14     4247 non-null   object
 15  Unnamed: 15     4247 non-null   object
 16  Unnamed: 16     4247 non-null   object
 17  Unnamed: 17     1 non-null      float64
 18  Connacht        4247 non-null   object
 19  Unnamed: 19     4247 non-null   object
 20  Unnamed: 20     4247 non-null   object
 21  Unnamed: 21     4247 non-null   object
 22  Unnamed: 22     4247 non-null   object
 23  Unnamed: 23     4247 non-null   object
 24  Unnamed: 24     1 non-null      float64
 25  Leinster        4247 non-null   object
 26  Unnamed: 26     4247 non-null   object
 27  Unnamed: 27     4247 non-null   object
 28  Unnamed: 28     4247 non-null   object
 29  Unnamed: 29     4247 non-null   object
 30  Unnamed: 30     4247 non-null   object
 31  Unnamed: 31     4247 non-null   object
 32  Unnamed: 32     4247 non-null   object
 33  Unnamed: 33     4247 non-null   object
 34  Unnamed: 34     4247 non-null   object
 35  Unnamed: 35     4247 non-null   object
 36  Unnamed: 36     4247 non-null   object
 37  Unnamed: 37     4247 non-null   object
 38  Unnamed: 38     1 non-null      float64
 39  Ulster          4247 non-null   object
 40  Unnamed: 40     4247 non-null   object
 41  Unnamed: 41     4247 non-null   object
 42  Unnamed: 42     4247 non-null   object
dtypes: float64(5), object(38)
memory usage: 1.4+ MB
None
Number of rows: 4255
Number of columns: 43

In [ ]:
#### Step 4: process XML data

In [12]:
def severity_to_color(severity):
    """Map severity levels to warning colors"""
    mapping = {
        'Extreme': 'Red',
        'Severe': 'Orange',
        'Moderate': 'Yellow'
    }
    return mapping.get(severity, 'Yellowish')  # Default to Yellow if unknown

def get_element_text(element, path, namespace):
    """Safely get text from an XML element"""
    found = element.find(path, namespace)
    return found.text if found is not None else None

def parse_xml(file_path_xml):
    """Parse an XML file and extract relevant information."""
    try:
        # Read the file content
        with codecs.open(file_path_xml, 'r', encoding='utf-8', errors='ignore') as file:
            xml_content = file.read()
        
        # Parse the XML content
        root = ET.fromstring(xml_content)
        namespace = {'cap': 'urn:oasis:names:tc:emergency:cap:1.2'}
        
        # Extract data from the info element first to check if we should process this warning
        info = root.find('cap:info', namespace)
        if info is None:
            return None
            
        # Check for advisory warnings (type 22) - exclude them
        parameters = info.findall('cap:parameter', namespace)
        for param in parameters:
            if get_element_text(param, 'cap:valueName', namespace) == 'awareness_type':
                awareness_type = get_element_text(param, 'cap:value', namespace)
                if awareness_type and '22' in awareness_type:
                    return None
                break
        
        # Check for county information
        area = info.find('cap:area', namespace)
        if area is None:
            return None
            
        geocodes = area.findall('cap:geocode', namespace)
        if not geocodes:
            return None

        # Initialize row with the old column format
        row = {
            'Issue Time': get_element_text(root, 'cap:sent', namespace),
            'Valid From': (get_element_text(info, 'cap:effective', namespace) or 
                         get_element_text(info, 'cap:onset', namespace)),
            'Valid To': get_element_text(info, 'cap:expires', namespace),
            'Warning Element': get_element_text(info, 'cap:event', namespace),
            'Warning Text': get_element_text(info, 'cap:description', namespace),
            'WhereToText': get_element_text(area, 'cap:areaDesc', namespace),
            'Warning Colour': severity_to_color(get_element_text(info, 'cap:severity', namespace))
        }
        
        # Initialize all county columns to 0
        county_info = {
            'EI01': 'Carlow', 'EI02': 'Cavan', 'EI03': 'Clare', 'EI04': 'Cork', 'EI32': 'Cork City',
            'EI06': 'Donegal', 'EI33': 'Dublin City', 'EI34': 'Dún Laoghaire-Rathdown', 'EI35': 'Fingal',
            'EI10': 'Galway', 'EI36': 'Galway City', 'EI11': 'Kerry', 'EI12': 'Kildare', 'EI13': 'Kilkenny',
            'EI15': 'Laois', 'EI14': 'Leitrim', 'EI42': 'Limerick', 'EI37': 'Limerick City', 'EI18': 'Longford',
            'EI19': 'Louth', 'EI20': 'Mayo', 'EI21': 'Meath', 'EI22': 'Monaghan', 'EI23': 'Offaly',
            'EI24': 'Roscommon', 'EI25': 'Sligo', 'EI39': 'South Dublin', 'EI43': 'Tipperary',
            'EI44': 'Waterford', 'EI29': 'Westmeath', 'EI30': 'Wexford', 'EI31': 'Wicklow'
        }
        
        # Initialize all counties to 0
        for county_name in county_info.values():
            row[county_name] = 0
            
        # Set affected counties to 1
        for gc in geocodes:
            if get_element_text(gc, 'cap:valueName', namespace) == 'FIPS':
                county_code = get_element_text(gc, 'cap:value', namespace)
                if county_code in county_info:
                    row[county_info[county_code]] = 1
        
        return row
    
    except ET.ParseError as e:
        return None
    except Exception as e:
        return None

def process_files(data_directory):
    """Process all XML files in the given directory and extract weather warning data."""
    file_pattern = os.path.join(data_directory, '*.xml')
    file_list = glob.glob(file_pattern)

    data = []
    error_files = []
    excluded_files = []

    for file in tqdm(file_list, desc="Processing files"):
        row = parse_xml(file)
        if row is not None:
            data.append(row)
        else:
            try:
                with codecs.open(file, 'r', encoding='utf-8', errors='ignore') as f:
                    ET.parse(f)
                excluded_files.append(file)
            except:
                error_files.append(file)

    # Create DataFrame
    df_xml = pd.DataFrame(data)

    # Convert date fields to datetime
    date_columns = ['Issue Time', 'Valid From', 'Valid To']
    for col in date_columns:
        if col in df_xml.columns:
            df_xml[col] = pd.to_datetime(df_xml[col], utc=True, errors='coerce')

    return df_xml, error_files, excluded_files

def save_error_files(file_list, filename):
    """Save list of error files to CSV"""
    pd.DataFrame({'file': file_list}).to_csv(filename, index=False)


df_xml, error_files, excluded_files = process_files(data_directory_xml)

# Save results
# df_xml.to_csv('weather_warnings.csv', index=False)
save_error_files(error_files, 'error_files.csv')
save_error_files(excluded_files, 'excluded_files.csv')

Processing files: 100%|██████████| 10697/10697 [06:30<00:00, 27.36it/s]

In [13]:
# check the first few rows
print(df_xml.head())

# look at dataframe info
print(df_xml.info())

# check the df shape
print(f"Number of rows: {df_xml.shape[0]}")
print(f"Number of columns: {df_xml.shape[1]}")

print("XML Filtered Date Range:")
print(f"Start date: {df_xml['Issue Time'].min()}")
print(f"End date: {df_xml['Issue Time'].max()}")

                 Issue Time                Valid From  \
0 2018-03-29 19:46:16+00:00 2018-03-22 23:00:01+00:00
1 2018-03-29 19:50:05+00:00 2018-03-29 19:00:01+00:00
2 2018-03-29 21:56:16+00:00 2018-03-29 19:00:01+00:00
3 2018-03-29 23:10:21+00:00 2018-03-29 19:00:01+00:00
4 2018-03-30 04:15:33+00:00 2018-03-29 19:00:01+00:00

                   Valid To            Warning Element  \
0 2018-03-23 09:00:01+00:00      Moderate Hail warning
1 2018-03-30 09:00:01+00:00      Moderate Hail warning
2 2018-03-30 09:00:01+00:00      Moderate Hail warning
3 2018-03-30 09:00:01+00:00  Moderate Snow-ice warning
4 2018-03-30 09:00:01+00:00      Moderate Hail warning

                                        Warning Text WhereToText  \
0  Heavy showery rain continuing overnight with s...     Ireland
1  Heavy showery rain overnight with some wintry ...     Ireland
2  Heavy showery rain overnight with some wintry ...     Ireland
3  Heavy showery rain overnight with some wintry ...     Ireland
4  Heavy showery rain overnight with some wintry ...     Ireland

  Warning Colour  Carlow  Cavan  Clare  ...  Monaghan  Offaly  Roscommon  \
0         Yellow       1      1      1  ...         1       1          1
1         Yellow       1      1      1  ...         1       1          1
2         Yellow       1      1      1  ...         1       1          1
3         Yellow       1      1      1  ...         1       1          1
4         Yellow       1      1      1  ...         1       1          1

   Sligo  South Dublin  Tipperary  Waterford  Westmeath  Wexford  Wicklow
0      1             0          0          0          1        1        1
1      1             0          0          0          1        1        1
2      1             0          0          0          1        1        1
3      1             0          0          0          1        1        1
4      1             0          0          0          1        1        1

[5 rows x 39 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8040 entries, 0 to 8039
Data columns (total 39 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Issue Time              8040 non-null   datetime64[ns, UTC]
 1   Valid From              8040 non-null   datetime64[ns, UTC]
 2   Valid To                8039 non-null   datetime64[ns, UTC]
 3   Warning Element         8040 non-null   object
 4   Warning Text            8040 non-null   object
 5   WhereToText             8040 non-null   object
 6   Warning Colour          8040 non-null   object
 7   Carlow                  8040 non-null   int64
 8   Cavan                   8040 non-null   int64
 9   Clare                   8040 non-null   int64
 10  Cork                    8040 non-null   int64
 11  Cork City               8040 non-null   int64
 12  Donegal                 8040 non-null   int64
 13  Dublin City             8040 non-null   int64
 14  Dún Laoghaire-Rathdown  8040 non-null   int64
 15  Fingal                  8040 non-null   int64
 16  Galway                  8040 non-null   int64
 17  Galway City             8040 non-null   int64
 18  Kerry                   8040 non-null   int64
 19  Kildare                 8040 non-null   int64
 20  Kilkenny                8040 non-null   int64
 21  Laois                   8040 non-null   int64
 22  Leitrim                 8040 non-null   int64
 23  Limerick                8040 non-null   int64
 24  Limerick City           8040 non-null   int64
 25  Longford                8040 non-null   int64
 26  Louth                   8040 non-null   int64
 27  Mayo                    8040 non-null   int64
 28  Meath                   8040 non-null   int64
 29  Monaghan                8040 non-null   int64
 30  Offaly                  8040 non-null   int64
 31  Roscommon               8040 non-null   int64
 32  Sligo                   8040 non-null   int64
 33  South Dublin            8040 non-null   int64
 34  Tipperary               8040 non-null   int64
 35  Waterford               8040 non-null   int64
 36  Westmeath               8040 non-null   int64
 37  Wexford                 8040 non-null   int64
 38  Wicklow                 8040 non-null   int64
dtypes: datetime64[ns, UTC](3), int64(32), object(4)
memory usage: 2.4+ MB
None
Number of rows: 8040
Number of columns: 39
XML Filtered Date Range:
Start date: 2017-09-25 04:34:48+00:00
End date: 2023-08-05 11:33:52+00:00